[package]
name = "rs-simple-fft"
version = "0.1.0"
edition = "2024"

[features]
default = ["std"]
std = []

[dependencies]
num-complex = { version = "0.4.6", default-features = false }
libm = "0.2.16"

